* {
    font-family: monospace;
}

html {
    font-size: 62.5%;
}

/*Board and score styles*/

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: auto;
    margin-top: 2.5rem;
    border: 3px solid black;
}

#scoreBoard {
    display: inline-flex;
}

#highScoreBoard {
    display: inline-flex;
}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 2rem;
}

.square {
    aspect-ratio: 1;
}

.emptySquare {
    background-color: #456998;
}

.snakeSquare {
    background: #55AA55;
}

.foodSquare {
    background-image: url("../img/appleIcon.png");
    background-size: cover;
    background-color: #456998;
}

#board,
.boardInfo {
    max-width: 60rem;
}

#start,
.boardInfo {
    font-size: 2.5rem;
}

/*End*/

/*Alert gameOver*/
.title-gameOver {
    font-size: 7rem;
    color: red;
}

.popup-gameOver {
    width: max-content;
}

/*End*/

/*Buttons styles*/
.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-weight: 700;
    color: white;
    border: 3px solid #FFAAAA;
    cursor: pointer;
    position: relative;
    background-color: #801515;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFAAAA;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btn:hover::before {
    transform: translateX(0);
}

/*End*/

/*Rules info*/

.rules-info {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    align-items: center;
}

/*End*/
